# Python virtual environment
venv/
.venv/
myenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# IDE specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp